.buildings {
  align-items: center;
  display: flex;
  flex-direction: column;
  width: 100%;
  align-self: center;
}

.builidings__hedaing {
  background-color: rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 15px 5px rgb(0, 0, 0);
  color: #fff;
  font-size: 3rem;
  margin: 0 0 10px;
  padding: 5px 10px;
}

.buildings__list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

.buildings__list-item {
  margin-bottom: 10px;
}

.building {
  background-color: rgba(255, 255, 255, 0.8);
  width: 90%;
  display: flex;
  flex-direction: column;
  border-radius: 15px;
  align-items: center;
  margin: 0.5rem auto;
  box-shadow: 1px 2px 1px 2px #ccc;
  position: relative;
}

.building__heading {
  cursor: pointer;
  font-size: 2rem;
  margin: 10px 0 0;
}

.building__level {
  margin: 0;
}

.building__details {
  background: var(--primary-color);
  border-radius: 15px;
  color: #fff;
  opacity: 0;
  position: absolute;
  padding: 20px;
  right: -300px;
  top: 0;
  transform: scale(0);
  transition: opacity 0.3s ease-in-out;
  width: 300px;
}

.building__details-title {
  margin-bottom: 2rem;
}

.building__details-description {
  margin-bottom: 2rem;
}

.building__details-resources {
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
}

.building__upgrade-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  height: 0;
  opacity: 0;
  outline: none;
  transition: opacity 0.4s ease-out, height 0.3s ease-out,
    transform 0.3s ease-out;
}

.building__upgrade-button:active {
  transform: scale(0.9);
}

.building__upgrade-button:focus {
  outline: none;
}

.building__upgrade-button:hover {
  color: var(--primary-dark-color);
}

.building:hover > .building__upgrade-button {
  height: 4rem;
  opacity: 1;
}

.building:hover .building__details {
  opacity: 1;
  transform: scale(1) translateY(-50%);
}
