.popup__overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: none;
}

.popup--active .popup__overlay {
  display: block;
}

.popup__content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  border-radius: 15px;
  background: #fff;
  width: auto;
  z-index: 200;
  text-align: center;
  padding: 20px 30px;
  box-sizing: border-box;
  transition: all 200ms ease-in-out;
}

.popup--active .popup__content {
  transition: all 200ms ease-in-out;
  transform: translate(-50%, -50%) scale(1);
}

.popup__header {
  border-bottom: 1px dashed lightgray;
  padding-bottom: 10px;
  padding-top: 10px;
}

.popup__header > h1 {
  font-size: 4.5em;
}

.popup__body {
  height: 100%;
  margin: 10px 0px;
}

.popup__body-content {
  overflow: hidden auto;
  max-height: 60vh;
}

.popup__footer {
  display: flex;
  justify-content: center;
  border-top: 1px dashed lightgray;
  padding: 10px 0;
}

.popup__close-btn {
  cursor: pointer;
  background: #222;
  color: #fff;
  font-size: 2em;
  font-weight: 600;
  text-align: center;
  border-radius: 15px;
}

.popup__close-btn:focus {
  outline: none;
}

@media screen and (max-width: 359px) {
  .popup__content {
    font-size: 5px;
  }
}
@media screen and (min-width: 360px) and (max-width: 768px) {
  .popup__content {
    font-size: 10px;
  }
}

@media screen and (max-width: 768px) {
  .popup__content {
    width: 90%;
  }
}
