.info-box-container {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.population__heading,
.defence__heading,
.units__heading {
  font-size: 3rem;
  margin: 10px 0;
}

.population__info,
.defence__info,
.units__info {
  font-size: 2.8rem;
  margin-top: 0;
  text-align: center;
}

.fraction__image {
  width: 100%;
  height: 400px;
  background-image: url('/src/assets/images/homepage/elves.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.units {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.units__count {
  margin-right: 5px;
}

.units__add-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 3rem;
  outline: none;
  transition: opacity 0.4s ease-out, transform 0.3s ease-out;
}

.units__add-button:active:enabled {
  transform: scale(0.9);
}

.units__add-button:focus {
  outline: none;
}

.units__add-button:hover:enabled {
  color: var(--primary-dark-color);
}
