.units {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.population__heading,
.defence__heading {
  font-size: 3rem;
  margin: 10px 0;
}

.population__info,
.defence__info {
  font-size: 2.8rem;
  margin-top: 0;
  text-align: center;
}

.units__image {
  width: 100%;
  height: 400px;
  background-image: url('/src/assets/images/homepage/elves.png');
  background-size: contain;
  background-repeat: no-repeat;
}
