:root {
  --elves-color: rgb(16, 184, 60);
  --humans-color: rgb(184, 125, 16);
  --dwarves-color: rgb(16, 108, 184);

  --elves-dark-color: rgb(26, 136, 35);
  --humans-dark-color: rgb(138, 96, 16);
  --dwarves-dark-color: rgb(14, 88, 148);

  --elves-quit-button-background-color: rgb(26, 84, 31);
  --humans-quit-button-background-color: rgb(138, 96, 16);
  --dwarves-quit-button-background-color: rgb(14, 88, 148);

  --elves-quit-button-hover-background-color: rgb(13, 63, 17);
  --humans-quit-button-hover-background-color: rgb(113, 77, 10);
  --dwarves-quit-button-hover-background-color: rgb(11, 71, 120);

  --primary-color: var(--elves-color);
  --primary-dark-color: var(--elves-dark-color);
  --quit-button-background-color: var(--elves-quit-button-background-color);
  --quit-button-hover-background-color: var(
    --elves-quit-button-hover-background-color
  );
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-color);
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0.5rem;
}

body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

body::-webkit-scrollbar-thumb {
  background-color: darkgrey;
  outline: 1px solid slategrey;
}

a:hover {
  cursor: pointer;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.fa-volume-off,
.fa-volume-up {
  -webkit-text-stroke: 0.5px black;
  text-shadow: -0.2px 0 black, 0 0.2px black, 0.2px 0 black, 0 -0.2px black;
}

.main__audio {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 2;
  font-size: 2rem;
  color: white;
}

a.main__audio--menu:hover {
  color: rgb(226, 226, 226);
}
