:root {
  --elves-color: rgb(16, 184, 60);
  --humans-color: rgb(184, 125, 16);
  --dwarves-color: rgb(16, 108, 184);

  --elves-dark-color: rgb(26, 136, 35);
  --humans-dark-color: rgb(138, 96, 16);
  --dwarves-dark-color: rgb(14, 88, 148);

  --primary-color: var(--elves-color);
  --primary-dark-color: var(--elves-dark-color);
}

html {
  box-sizing: border-box;
  font-size: 10px;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  background-color: var(--primary-color);
  font-family: 'Shadows Into Light Two', cursive;
  font-size: 1.6rem;
  line-height: 1.5;
  margin: 0;
  min-height: 100vh;
  padding: 0;
  overflow: hidden;
}
