.game__screen {
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  height: auto;
  display: grid;
  grid-template-columns: 3fr 15fr 3fr;
  grid-template-rows: 100px calc(100% - 260px) 100px;
  gap: 30px;
  grid-template-areas:
    'exit-area resources-box .'
    'buildings-box main-area units-box'
    'buildings-box info-box units-box';
  padding: 30px;
  transition: transform 0.5s ease-in-out;
  transform: scale(0);
}

.exit-area {
  display: flex;
  grid-area: exit-area;
  justify-content: center;
}

.quit-button {
  background-color: var(--quit-button-background-color);
  border: none;
  border-radius: 15px;
  box-shadow: 0px 0px 20px 1px rgba(0, 0, 0, 0.6);
  color: rgba(255, 255, 255, 0.6);
  cursor: pointer;
  font-size: 1.2em;
  height: 40px;
  width: 80%;
}

.quit-button:hover {
  background-color: var(--quit-button-hover-background-color);
}

.main-area {
  grid-area: main-area;
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  overflow: hidden;
  position: relative;
}

.buildings-box {
  grid-area: buildings-box;
  padding: 3vh 0;
}

.units-box {
  grid-area: units-box;
}

.info-box {
  align-items: center;
  display: flex;
  flex-direction: column;
  grid-area: info-box;
  justify-content: center;
}

.next-attack-info {
  align-items: center;
  display: flex;
  flex-direction: column;
  transition: opacity 0.3s ease-out;
  width: 100%;
}

.next-attack-progress {
  box-shadow: 0px 0px 13px 10px rgba(0, 0, 0, 0.7);
  width: 80%;
}

.next-attack-progress-bar {
  background-color: var(--primary-dark-color);
  width: 100%;
}

.game__screen--opened {
  transform: scale(1);
}

.resources-box {
  grid-area: resources-box;
  display: flex;
  justify-content: space-evenly;
}

.resource__item {
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 20px;
  align-items: center;
  display: flex;
  flex-direction: column;
  font-size: 1.3em;
  justify-content: center;
  width: 150px;
}

.resource__image {
  width: 50px;
}

.resource__item p {
  margin: 0;
}

.resource__item > p > span {
  font-weight: 700;
}

.info__heading {
  box-shadow: 0px 2px 15px 5px rgb(0, 0, 0);
  font-size: 2.4rem;
  margin: 0 0 10px;
  padding: 5px 10px;
  color: var(--primary-color);
}

.game-messages-container {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  color: #fff;
  height: 400px;
  width: 100%;
  transition: all 0.7s ease-in;
}

.game-messages {
  list-style: none;
  height: calc(100% - 6rem);
  margin: 3rem 1rem 3rem 3rem;
  overflow: hidden;
  overflow-y: auto;
  padding: 0;
}

.game-messages::-webkit-scrollbar {
  width: 0.5rem;
}

.game-messages::-webkit-scrollbar-thumb {
  background-color: rgba(154, 156, 154, 0.7);
}
