.game__screen {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  display: grid;
  grid-template-columns: 3fr 15fr 3fr;
  grid-template-rows: 3fr 14fr 3fr;
  gap: 0px 0px;
  grid-template-areas:
    '. top-box .'
    'left-box middle-box right-box'
    '. bottom-box .';
  padding: 20px;
  transition: transform 0.5s ease-in-out;
  transform: scale(0);
}

.middle-box {
  grid-area: middle-box;
  background-size: cover;
  max-width: 100%;
  height: 100%;
  display: block;
}

.left-box {
  grid-area: left-box;
}
.right-box {
  grid-area: right-box;
}
.top-box {
  grid-area: top-box;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bottom-box {
  grid-area: bottom-box;
}

.game__screen--opened {
  transform: scale(1);
}

.resource__itemContainer {
  width: 33.33%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2em;
}
.resource__itemContainer__img {
  width: 100px;
}
.resource__itemContainer p {
  margin: 0;
}
.resource__itemContainer > p > span {
  font-weight: 700;
}
